.container {
    height: fit-content;
    width: fit-content;
}

.scroll_img {
    position: absolute;
    left: 0px;
    top: 0px;
    left: 0px;
    top: 0px;
    z-index: -10;
    height: auto;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.container2 {
    height: 6800px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    width: 100%;
}

.col-md-6 {
    color: white;
    text-align: center;
}
