.container {
    height: auto;
    width: 100%;
}

.scroll_img {
    position: absolute;
    left: 0px;
    top: 0px;
    left: 0px;
    top: 0px;
    z-index: -10;
    height: auto;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
  }

.story_1 {
    height: 100%;
    width: auto;
    margin-top: 65em;
    margin-left: 45em;
}

.story_1-2 {
    margin-top: -10em;
    z-index: -1;
}

.story_2 {
    height: 50vh;
    width: auto;
    margin-top: 55em;
}

.story_2-2 {
    margin-top: -25em;
    margin-left: 25em;
    z-index: -1;
}

.story_3 {
    height: 50vh;
    width: auto;
    margin-top: 50em;
    margin-left: 45em;
}

.story_3-2 {
    margin-top: -25em;
    margin-left: -8em;
    z-index: -1;
}

.story_4 {
    height: 50vh;
    width: auto;
    margin: 17em 0em;
}

.story_4-2 {
    z-index: -1;
}

.story_5 {
    height: 50vh;
    width: auto;
    margin: 7em 2em;
}

.story_5-2 {
    z-index: -1;
}

.story_6 {
    height: 50vh;
    width: auto;
    margin: 7em 2em;
}

.story_6-2 {
    z-index: -1;
}

.story_7 {
    height: 50vh;
    width: auto;
    margin: 7em 2em;
}

.story_7-2 {
    margin-top: -10em;
    z-index: -1;
}